extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Add New Password
            form.form.form--reset-password
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm your Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')    
                .form__group
                    button.btn.btn--green Submit